.heroSection {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.heroContent {
  width: 1000px; /* Change max-width to width */
  display: flex;
  justify-content: space-between;
  position: relative; /* Add position relative */
}

.blogContainer {
  flex: 0 0 800px; /* Set fixed width for left container */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blogPost {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.blogPost h3 {
  margin-bottom: 5px;
}

.blogPost p {
  margin: 0;
  color: #666;
}

.randomTextContainer {
  width: 200px; /* Set fixed width for right container */
  height: 450px; /* Set height of right container */
  position: fixed; /* Make the right container fixed */
  right: calc(20px + 220px); /* Adjust for 20px away from left container */
  top: 50%; /* Adjust as needed */
  transform: translateY(-50%); /* Center vertically */
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.randomTextContainer p {
  margin: 0;
}

/* Add styles for filter buttons */
.filterSection {
  margin-bottom: 20px;
}

.filterButton {
  padding: 8px 16px;
  margin-right: 10px;
  border: none;
  background-color: #f0f0f0;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filterButton:hover {
  background-color: #ddd;
}

.filterButton.active {
  background-color: #007bff;
  color: #fff;
}

.filterButton.active:hover {
  background-color: #0056b3;
}

.removeButton{
  display: inline-block;
}